body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {                       
    display: inline;
    margin-right: 20px;
}

nav ul li a { 
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    text-align: center;
}

.food-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.food-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

.food-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

form {
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form input[type="submit"],
form input[type="reset"] {
    width: auto;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
